{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
{% endblock %}


{% block base %}

<div class="container">
    <h1 class="text-center logo my-4">
        <a href="{% url 'employees' %}">Quality management system</a>
    </h1>
    {% block content%}
    {% endblock %}
</div>

{% endblock %}