{% extends 'accounts/base_accounts.html' %}

{% block title %}
Log in
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm82">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Log in</h3>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'form.html' %}
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    New to QMS? <a href="{% url 'signup' %}">Sign up</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
