{% extends 'sys_management/base_qms.html' %}

{% block script %}
<style type="text/css">
    #id_status {
    width: 0;
    height: 0;
    display: inline;
    }
</style>
{% endblock %}

{% block title %}
Create employee
{% endblock %}

{% block body %}
<div class="container mt-5">
   <form method="post" novalidate>
        {% csrf_token %}
        {% include 'form.html' %}
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'employees' %}" class="btn btn-primary">Cancel</a>
    </form>
</div>

{% endblock %}