{% extends 'sys_management/base_qms.html' %}

{% block title %}
Edit employee
{% endblock %}

{% block body %}
<div class="container mt-5">
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'form.html' %}
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'employees' %}" class="btn btn-primary ">Cancel</a>
    </form>
</div>

{% endblock %}