{% extends 'sys_management/base_qms.html' %}

{% block title %}
List of employees
{% endblock %}

{% load static %}
{% block script %}
<script src="https://kit.fontawesome.com/409c563378.js" crossorigin="anonymous"></script>
<script src="{% static 'js/delete.js' %}"></script>
{% endblock %}

{% block body %}
{% if page_objects %}
<div class="container mt-5">
    <table class="table mt-5" id="employee-table">
        <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Department</th>
            {% if user.is_authenticated %}
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% include 'sys_management/list_employees.html' %}
        </tbody>
    </table>
    <div class="modal fade" id="modal-employee">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <div class="footer">
        {% include 'pagination.html' %}
        {% if user.is_authenticated %}
        <a href="{% url 'create_employee' %}" class="btn btn-primary float-right" role="button">Create new employee</a>
        {% endif %}
    </div>
</div>
{% else %}
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to quality management system</h1>
        <p>In this site you can create, delete and manage your employee. If you are not registered, sign up and get
            started with our system</p>
        <p><a href="{% url 'create_employee' %}" class="btn btn-primary btn-lg">Create new employee</a></p>
    </div>
</div>
{% endif %}
{% endblock %}