{% for employee in page_objects %}
<tr {% if not employee.status %} class="table-active" {% endif %}>
    <td>
        <a href="{{ employee.get_edit_url }}">{{ employee.name }}</a>
    </td>
    <td>
        {{ employee.get_position_display }}
    </td>
    <td>
        {{ employee.get_department_display }}
    </td>
    {% if user.is_authenticated %}
    <td>
        <button type="button"
                class="btn btn-danger js-delete-employee"
                data-url="{{ employee.get_delete_url }}">
                <i class="fas fa-trash"></i> Delete
        </button>
    </td>
    {% endif %}
</tr>
{% empty %}
    <tr>
        <td colspan="4" class="text-center bg-warning">No employees</td>
    </tr>
{% endfor %}