<form method="post" action="{{ employee.get_delete_url }}" class="js-employee-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Confirm delete</h4>
    </div>
    <div class="modal-body">
        <p class="lead">Are you sure you want to delete the employee <strong>{{ employee.name }}</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete employee</button>
    </div>
</form>